:root {
    --keycloak-logo-url: url('../img/keycloak-logo-text.svg');
    --keycloak-bg-logo-url: url("../img/keycloak-bg-darken.svg");
    --keycloak-logo-height: 63px;
    --keycloak-logo-width: 300px;
    --keycloak-card-top-color: var(--pf-v5-global--palette--blue-400);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

*{
    color: black;
    font-family: 'Montserrat', serif !important;
}

.pf-v5-c-login__container {
    grid-template-columns: 34rem;
    grid-template-areas: "header"
                         "main"
}

/* Info section - top margin + bottom padding */
.pf-v5-c-login__main-footer-band:first-child {
    margin-block-start: var(--pf-v5-global--spacer--lg);
}

.pf-v5-c-login__main-footer-band:last-child {
    padding-bottom: 0;
}
/* Info section */

.login-pf body {
    background: white;
    background-size: cover;
    height: 100%;
}

div.kc-logo-text {
    background-image: var(--keycloak-logo-url);
    height: var(--keycloak-logo-height);
    width: var(--keycloak-logo-width);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

div.kc-logo-text span {
    display: none;
}

.kc-login-tooltip {
    position: relative;
    display: inline-block;
}

.kc-login-tooltip .kc-tooltip-text{
    top:-3px;
    left:160%;
    background-color: black;
    visibility: hidden;
    color: #fff;

    min-width:130px;
    text-align: center;
    border-radius: 2px;
    box-shadow:0 1px 8px rgba(0,0,0,0.6);
    padding: 5px;

    position: absolute;
    opacity:0;
    transition:opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
    visibility: visible;
    opacity:0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#kc-recovery-codes-list {
    columns: 2;
}

#certificate_subjectDN {
    overflow-wrap: break-word
}

#kc-verify-email-form {
    margin-top: 24px;
    margin-bottom: 24px;
}

#kc-header-wrapper {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    white-space: normal;
    color: var(--pf-v5-global--Color--light-100) !important;
    text-align: center;
}

hr {
    margin-top: var(--pf-v5-global--spacer--sm);
    margin-bottom: var(--pf-v5-global--spacer--md);
}

#kc-social-providers svg {
    height: var(--pf-v5-global--FontSize--xl);
}


.pf-v5-c-login {
    min-height: 92vh;
}

.pf-v5-c-login__header {
    color: black;
}

#dissco-logo {
    height: 200px;
}
#footer {
    padding: 15px 200px;
    display: flex;
    justify-content: center;
    font-size: .75rem;
}

#footer ul {
    display: flex;
}

#footer ul li {
    padding-right: 40px;
    font-size: .75rem;
}

#footer ul li a {
    color: #4d59a2;
    text-decoration: none;
}

#footer ul li a:hover {
    font-weight: 700;
}

/* Static pages */
.static-page {
    min-width: 320px;
    max-width: 753px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 200px;
}

@media screen and (min-width: 992px) {
    .static-page {
        max-width: 753px;
        margin-left: auto;
        margin-right: auto;
    }
  }


@media screen and (min-width: 1300px) {
    .static-page {
        max-width: 1072px;
        margin-left: auto;
        margin-right: auto;
    }
  }

h1, h2 {
    font-weight: 400;
}

.dissco-logo {
    height: 200px
}

#kc-page-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
}